{% extends "homepage.html" %}

{% block titulo %}
Perfil - {{ usuario.username }}
{% endblock %}

{% block body %}
<body>

{% include "navbar.html" %}


{% if form %}
<div class="container">
    <a href="{{ url_for('avatar', usuario=current_user) }}" class="bloco-imagem">
        {% if 'http' in usuario.image_file %}
         <img src="{{ usuario.image_file }}"
     class="logo foto-perfil-rosto avatar"
     style="width: 150px; height: 150px; object-fit: cover; border-radius: 70%;">
        {% else %}
         <img src="{{ url_for('static', filename='foto_perfil/default.jpg') }}" class="logo foto-perfil-rosto avatar">
        {% endif %}
        </a>
        <form class="bloco-add-img" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
          <h2>{{ usuario.username }} - Fazer um Post</h2>

          <div class="bloco-arquivo">
            <label for="foto" class="botao-arquivo">
              Escolher arquivo
                {{ form.foto(class="input-arquivo", id="foto") }}
            </label>
            <span id="imagem-arquivo" class=""></span>
          </div>

            {{ form.botao_enviar(class="botao-login") }}
        </form>
{% else %}
    {% if 'http' in usuario.image_file %}
         <img src="{{ usuario.image_file }}"
     class="logo foto-perfil-rosto avatar"
     style="width: 150px; height: 150px; object-fit: cover; border-radius: 70%;">
        {% else %}
         <img src="{{ url_for('static', filename='foto_perfil/default.jpg') }}" class="logo foto-perfil-rosto avatar">
        {% endif %}
    <div class="bloco-add-img">
        <h1>{{ usuario.username }} - Ver Perfil</h1>
    </div>
{% endif %}
</form>


<div class="conteudo" id="galeria-container">
{%for fotos in usuario.fotos %}
        <div class="card-foto bloco-imagem">
          <img src="{{ fotos.imagen }}" class="fotos"/>
            {% if usuario.id == current_user.id %}
                <form action="{{ url_for('excluir_foto', id_foto=fotos.id) }}" method="POST" class="form-excluir" onsubmit="return confirm('Tem certeza que deseja deletar esta foto?');">
                    <button type="submit" class="btn-excluir">&times;</button>
                </form>
            {% endif %}
            </div>

{%endfor%}
    </div>
    <div id="modalLogo" class="modal">
    <span class="fechar-btn">&times;</span>
    <img class="modal-conteudo" id="imgExpandida">
</div>
    </div>

<script>

// 1. Selecionamos os elementos do Modal
const modal = document.getElementById("modalLogo");
const modalImg = document.getElementById("imgExpandida");
const btnFechar = document.querySelector(".fechar-btn");

// 2. Selecionamos TODAS as imagens com a classe 'foto-galeria'
const imagens = document.querySelectorAll(".fotos");

// 3. Criamos um loop para adicionar o evento de clique em cada uma delas
imagens.forEach(img => {
  img.onclick = function() {
    modal.style.display = "block";
    modalImg.src = this.src; // 'this' refere-se à imagem específica clicada
  }
});

// 4. Fechar quando clicar no 'X'
btnFechar.onclick = function() {
  modal.style.display = "none";
}

// 5. Fechar se clicar fora da imagem (no fundo preto)
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

    <script>
      let input = document.getElementById("foto");
      let imagemArquivo = document.getElementById("imagem-arquivo");

      input.addEventListener("change", () => {
        let inputImagem = document.querySelector("input[type=file]").files[0];

        imagemArquivo.classList.add("visivel");
        imagemArquivo.innerText = inputImagem.name;
      });
    </script>

</body>
{% endblock %}

